:root {
    // We don't need more than a single page worth of content here.
    overflow: hidden; 
}

// Make sure the root takes up the full height of the screen
#root {
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    overflow-anchor: none; // Fixes a few React bugs

    color: white;
    li::marker {
        color: white;
    }
}